# ─────────────────────────────────────────────────────────────────────
# ID   BookType    MinPrice    MaxPrice    Tick    # Symbol       
# ─────────────────────────────────────────────────────────────────────
 
1   FastBook  30000     45000    5      # RailTel Corporation
2   FastBook  15000     25000    5      # Ircon International
3   FastBook  80000     120000   5      # Tanla Platforms
4   FastBook  70000     100000   5      # Happiest Minds
5   FastBook  120000    180000   5      # Dixon Technologies
6   FastBook  90000     140000   5      # Kaynes Technology
7   FastBook  40000     70000    5      # Syrma SGS Technology
8   FastBook  30000     55000    5      # MosChip Technologies
9   FastBook  20000     40000    5      # ASM Technologies
10   FastBook    135000      160000      5       # RELIANCE    
11   FastBook    380000      440000      5       # TCS            
12   FastBook    160000      200000      5       # HDFCBANK         
13   FastBook    170000      210000      5       # INFY         
14   FastBook    115000      145000      5       # ICICIBANK      
15   FastBook    72000       92000       5       # SBIN            
16   FastBook    42000       52000       5       # ITC         
17   FastBook    340000      400000      5       # LT               
18   FastBook    150000      180000      5       # BHARTIARTL     
19   FastBook    105000      135000      5       # AXISBANK        
20   FastBook    110000      135000      5       # KOTAKBANK     
21   FastBook   1180000     1340000      5       # MARUTI         
22   FastBook    270000      310000      5       # ASIANPAINT      
23   FastBook    72000       92000       5       # TATAMOTORS       
24   FastBook    52000       68000       5       # WIPRO            